{% extends 'base.html.twig' %}

{% block title %}Hello AlumniController!{% endblock %}

{% block body %}
    <h3> Vous trouverez ici l'ensemble des alumni du GInfo Centrale Marseille </h3>
{% endblock %}
